/* Global Styles */
@import url('https://fonts.googleapis.com/css2?family=Alice&family=Merriweather:wght@300&display=swap');

html {
    height: 100%;
    width: 100%;
}

body {
    background-image: url("https://res.cloudinary.com/dm06dbeze/image/upload/v1704726049/imageedit_2_9471879740_bsyzi6.png");
    background-size: cover;
    background-position: center center;
    margin: 0;
    padding: 0;
    line-height: 35px;
}

h1, h2 {
    font-family: Alice, sans-serif;
}

a {
    all: unset;
    text-decoration: none;
    color: black;
    cursor: pointer;
}

a:hover {
    color: black;
}

.nav-link:hover {
    color: black;
}

/* Navigation Styles */
.navbar-toggler {
    padding: .25rem .75rem;
    font-size: 1.25rem;
    line-height: 1;
    border: none !important;
}

.navbar-brand {
    padding-left: 4%;
}

/* Button Styles */
button i {
    font-size: xx-large;
}

/* Label Styles */
label {
    font-family: Merriweather, sans-serif;
    font-size: small;
}

/* Select Styles */
select {
    font-family: Merriweather, sans-serif;
    font-size: small;
}

/* Like Button Styles */
.btn-like {
    border: none;
    background: transparent;
}

.btn-like:hover,
.btn-like:active {
    background: transparent;
    border: none;
}

/* Form Styles */
form {
    font-family: Merriweather, sans-serif;
}

/* Button Styles */
button {
    height: fit-content;
    width: fit-content;
    font-size: 10px;
    background-color: black;
    color: white;
    border-radius: 20%;
}

/* Pagination Styles */
.pag-nav {
    color: black;
    background-color: transparent;
}

.page-link {
    font-weight: bold;
    background-color: transparent;
    color: black !important;
    text-decoration: underline;
    border: none;
    font-family: Merriweather, sans-serif;
}

/* Navbar Link Styles */
.navbar .nav > li > a {
    color: black !important;
}

a.nav-item:hover {
    color: black !important;
}

/* Base.html Styles */
nav {
    color: black;
    font-family: Merriweather, sans-serif;
}

.brand {
    font-family: Alice, sans-serif;
    font-size: 1.4rem;
    font-weight: 700;
    color: black;
}

.nav-link {
    color: black;
    text-decoration: none;
}

.footer {
    color: black;
    font-weight: 600;
    font-family: Merriweather, sans-serif;
}

footer p i:hover {
    color: black;
}

/* Index.html Styles */
.index_link {
    margin: 0 auto !important;
    text-align: center !important;
}

#top {
    font-size: 65px;
    font-family: Alice, sans-serif;
}

#link {
    padding-bottom: 35px;
}

.mid {
    width: 75%;
}

.index_link h2 a:hover {
    color: black;
}

.index_link div {
    margin: auto;
    text-align: center;
}

.index_link div h3 {
    font-size: 15px;
}

.indexicon {
    font-size: 20px;
}

/* Search.html Styles */
.search {
    font-family: Alice, sans-serif;
    font-weight: bold;
    font-size: 150% !important;
}

.select2-search__field {
    width: 400px !important;
    font-size: 150%;
}

.select2 {
    width: fit-content !important;
}

#ingredientInput {
    width: 50%;
}

.container {
    font-family: Merriweather, sans-serif;
    color: black;
    padding-top: 50px;
    margin: 0 auto;
    text-align: center;
    font-size: 150% !important;
}

.card {
    border-radius: 2%;
    width: 100%;
    border: none;
    margin-bottom: 20px;
}

.card-body {
    border-radius: 2%;
    background-color: white;
    height: 420px;
}

.image-container {
    border-radius: 5px;
    height: 85%;
    padding-bottom: 20px;
    overflow: hidden;
    position: relative;
}

.image-container img {
    height: 100%;
    width: 100%;
    object-fit: cover;
    object-position: center center;
    border-radius: 5px;
    left: 50%;
}

.image-container:hover img {
    opacity: 0.25;
}

.image-container:hover .middle, .image-container:hover .text-container {
    opacity: 1;
}

.card-img-top {
    object-fit: cover;
    height: 100%;
    width: 100%;
    transition: .5s ease;
    backface-visibility: hidden;
}

.middle {
    transition: .5s ease;
    opacity: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    text-align: center;
    color: black;
    text-decoration: none;
    font-size: 15px;
    font-weight: 400;
    padding: 10px;
    border-radius: 8px;
    background-color: black;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    text-decoration: none;
}

.icon-container {
    display: flex;
    text-decoration: none;
}

.card-text {
    margin: 0;
    background-color: black;
    opacity: .8;
    color: white;
    text-decoration: none;
    font-size: 12px;
    font-weight: 400;
    padding: 16px 32px;
    font-family: Merriweather, sans-serif;
    position: relative;
    z-index: 2;
}

.card-text a {
    margin-right: 10px;
    color: black;
    text-decoration: none;
    transition: color 0.3s ease;
    z-index: 2;
    text-decoration: none !important;
}

.card-text i:hover {
    color: white;
    text-decoration: none !important;
}

.card-text i {
    font-size: 200%;
    text-decoration: none !important;
}

.card-text .tooltiptext1, .card-text .tooltiptext2 {
    visibility: hidden;
    width: 80px;
    background-color: white;
    opacity: .8;
    color: black;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;
    position: absolute;
    z-index: 1;
    top: 100%;
    left: 50%;
    margin-left: -60px;
    font-family: Merriweather, sans-serif;
    font-size: 75%;
    text-decoration: none;
}

.card-text:hover .tooltiptext1, .card-text:hover .tooltiptext2 {
    visibility: visible;
    text-decoration: none;
}

.text {
    width: 100%;
    background-color: transparent;
    color: black;
    font-size: 15px;
}

.icon-cog {
    color: black;
}

.pag {
    text-align: center;
    margin: 0 auto;
    font-weight: bold;
    margin-bottom: 20px;
}

#sortbutton {
    font-size: 10px;
    height: 20px;
    text-align: center;
    line-height: 17.5px;
}

.divend {
    letter-spacing: .25px;
    font-size: 12px;
}

/* Review.html Styles */

.row {
    background-color: transparent;
}

.upvoted {
    color: red;
}

.downvoted {
    color: red;
}

.headingmid {
    width: 50%;
    text-align: center;
    margin: 0 auto;
}

.reviewheading {
    font-family: Merriweather, sans-serif;
    font-weight: bold;
    border-radius: 10%;
}

.post-link {
    text-decoration: none;
    font-family: Merriweather, sans-serif;
}

button i {
    font-size: large;
    color: black;
}

.text-container .left-content {
    font-size: 1vw;
}

.text-container .right-content {
    font-size: 1vw;
}

.text-container {
    height: 15%;
    background-color: transparent;
    color: black;
    padding: 8px;
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-family: Merriweather, sans-serif;
}

.masthead-text h1 {
    font-weight: bold;
}

.masthead {
    text-align: left !important;
    margin-left: 50px !important;
}

.card-body1 {
    height: auto;
    display: flex;
    flex-direction: column;
}

.details {
    display: flex;
    flex-direction: column;
    height: 100%;
}

.details1,
.details2,
.details3 {
    height: auto;
}

.details2 h1 {
    font-size: 15px;
}

.container2 {
    position: relative;
}

.container2 span {
    position: absolute;
    bottom: 0;
}

.container2 span h3 {
    font-size: 15px;
}

.img-container {
    border-radius: 5px;
    height: 60vh !important;
    padding-right: 25px;
    padding-bottom: 20px;
    overflow: hidden;
    position: relative;
}

.img-container img {
    height: 100%;
    width: 100%;
    object-fit: cover;
    object-position: center center;
    border-radius: 5px;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}

.text-container i:first-child {
    margin-right: 8px;
}

.ingredients {
    padding-top: 25px;
}

.utensils, .ingredients {
    padding-left: 50px;
}

#review {
    font-weight: bold;
    padding-right: 50px;
    padding-bottom: 50px;
}

#review h2 {
    font-size: 25px;
    font-weight: bold;
}

#comments1 {
    overflow: auto;
    padding-top: 10px;
    background-color: transparent;
}

.commentitle {
    font-family: Alice, sans-serif;
    font-size: 20px;
    font-weight: bold;
    background-color: transparent;
}

.comments h3 {
    font-size: 15px;
}

.comments p {
    font-size: 15px;
}

#leavecomment {
    height: auto;
    background-color: transparent;
}

.container1 {
    padding-top: 0;
    margin: 0 auto;
    text-align: center;
}

.post-title1 {
    font-size: 30px;
    font-weight: bold;
}

.post-title {
    font-size: 25px;
    font-weight: bold;
}

.details1 h2 {
    font-size: 20px;
    font-weight: bold;
}

/* Submit & Update Review Styles */
.alert {
    margin-right: 50px;
}

.container4 {
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 50px;
    font-family: Merriweather, sans-serif;
    color: black;
    font-weight: bold;
}

.container6 {
    padding-left: 15px;
    padding-right: 15px;
    font-family: Merriweather, sans-serif;
    color: black;
    font-weight: bold;
}

.container2 {
    font-family: Merriweather, sans-serif;
    color: black;
    padding: 50px;
}

.edit {
    text-decoration: none;
}

.alert {
    color: white;
    background-color: black;
}

.container5 {
    padding-left: 200px;
    padding-top: 50px;
    font-family: Merriweather, sans-serif;
    color: black;
    font-weight: bold;
}

#div_id_utensils {
    padding-bottom: 15px;
}

/* About.html Styles */
.container3 {
    font-family: Merriweather, sans-serif;
    color: black;
    width: 75%;
    padding-top: 50px;
    margin: 0 auto;
    text-align: center;
}

.container3 p {
    font-size: 15px;
    font-weight: 800;
}

/* Login, Signout, and Register HTML */
form ul li {
    font-size: 10px;
}

/* Animations */
.animation-span1 {
    text-align: center;
    margin: 0 auto;
    padding-bottom: 100px;
    width: fit-content;
    transform: scale(0.94);
    animation: scale 3s forwards cubic-bezier(0.5, 1, 0.89, 1);
    font-family: Alice, sans-serif;
    font-weight: bold;
}

.animation-span2 {
    text-align: center;
    margin: 0 auto;
    padding-bottom: 10px;
    width: fit-content;
    transform: scale(0.94);
    animation: scale 3s forwards cubic-bezier(0.5, 1, 0.89, 1);
    font-family: Alice, sans-serif;
    font-weight: bold;
}

@keyframes scale {
    100% {
        transform: scale(1);
    }
}

.animation-span span {
    display: inline-block;
    opacity: 0;
    filter: blur(4px);
}

span:nth-child(1) {
    animation: fade-in 0.8s 0.1s forwards cubic-bezier(0.11, 0, 0.5, 0);
}

span:nth-child(2) {
    animation: fade-in 0.8s 0.2s forwards cubic-bezier(0.11, 0, 0.5, 0);
}

span:nth-child(3) {
    animation: fade-in 0.8s 0.3s forwards cubic-bezier(0.11, 0, 0.5, 0);
}

span:nth-child(4) {
    animation: fade-in 0.8s 0.4s forwards cubic-bezier(0.11, 0, 0.5, 0);
}

span:nth-child(5) {
    animation: fade-in 0.8s 0.5s forwards cubic-bezier(0.11, 0, 0.5, 0);
}

span:nth-child(6) {
    animation: fade-in 0.8s 0.6s forwards cubic-bezier(0.11, 0, 0.5, 0);
}

span:nth-child(7) {
    animation: fade-in 0.8s 0.6s forwards cubic-bezier(0.11, 0, 0.5, 0);
}

span:nth-child(8) {
    animation: fade-in 0.8s 0.6s forwards cubic-bezier(0.11, 0, 0.5, 0);
}

@keyframes fade-in {
    100% {
        opacity: 1;
        filter: blur(0);
    }
}

/* Sign-up & Login */
.select2 {
    width: 300px;
}

@media only screen and (max-width: 1130px) {
    .divend {
        letter-spacing: .25px;
        font-size: 9px;
    }
}

/* Media query for smaller screens */
@media only screen and (max-width: 768px) {

    textarea {
        width: 70%;
    }

    .headingmid {
        width: 80%;
        font-size: 15px !important;
    }

    #top {
        font-size: 40px;
    }    

    .container {
        padding-top: 5px;
    }

    .masthead {
        margin-left: 0 !important;
    }

    .text-container {
        flex-direction: column;
        height: auto;
    }

    .text-container .left-content,
    .text-container .right-content {
        font-size: 2vw;
    }

    .text {
        font-size: 15px;
    }

    .details1,
    .details2,
    .details3 {
        height: auto;
        font-size: smaller;
    }

    .details2 h1 {
        font-size: 18px;
    }

    .img-container {
        height: auto;
    }

    .ingredients, .utensils {
        padding-left: 0px;
    }

    #review {
        padding-right: 20px;
    }

    .container5 {
        padding-left: 50px;
    }
}

@media only screen and (max-width: 500px) {

    #top {
        font-size: 30px;
    }   

    .select2 {
        width: 80vw !important;
        padding-bottom: 10px;
    }
}

@media only screen and (max-width: 350px) {

    #link {
        padding-bottom: 1px;
    }

    .animation-span1 {
        padding-bottom: 1px;
    }

}

.btnburger:hover i, .nav-item:hover .nav-link, .btn-like:hover i, a:hover i {
    animation: shake 0.8s;
}

@keyframes shake {
    0% {
        transform: translateX(0);
    }

    25% {
        transform: translateX(5px);
    }

    50% {
        transform: translateX(-5px);
    }

    100% {
        transform: translateX(0px);
    }
}