/* Global Styles */

html {
    height: 100%;
}

body {
    background-color: white;
    font-family: Merriweather, sans-serif;
    margin: 0;
    padding: 0;
    line-height: 35px;
}

a {
    all: unset;
    text-decoration: none;
    color: #41644A;
    cursor: pointer;
}


a:link {
    text-decoration: none;
}


button:hover {
    background-color: #E86A33;
}

label {
    font-family: Merriweather, sans-serif;
    font-size: small;
}

select {
    font-family: Merriweather, sans-serif;
    font-size: small;
}

.btn-like {
    color: #E84610;
    border: none;
    background: transparent;
}

.btn-like:hover,
.btn-like:active {
    color: #E84610;
    background: transparent;
    border: none;
}

form {
    font-family: Merriweather, sans-serif;
}

button {
    border-radius: 20%;
}

.pag-nav {
    background-color: white;
}

.page-link {
    font-weight: bold;
    background-color: white;
    border: none;
    text-decoration: none;
    font-family: Merriweather, sans-serif;
    color: #263A29;
}

.page-link:hover {
    background-color: white;
    color: #E86A33;
}

/* base.html Styles */

nav {
    background-color: #263A29;
    color: white;
    font-family: Merriweather, sans-serif;
}

.brand {
    font-family: Merriweather, sans-serif;
    font-size: 1.4rem;
    font-weight: 700;
    color: white;
}

.nav-link {
    color: white;
    text-decoration: none;
}

.nav-item a:hover {
    color: #E86A33;
}

.footer {
    background-color: #263A29;
    font-family: Merriweather, sans-serif;
}

footer p i:hover {
    color: #E86A33;
}

/* index.html Styles */

.homepage-image {
    background-image: url('../ello-AEU9UZstCfs-unsplash.webp');
    background-size: cover;
    background-position: center;
    height: 50vh;
    max-width: 100%;
    margin-bottom: 20px;
}

#link h2 a:hover {
    color: #E86A33;
}

#link div {
    height: 25vh;
}

#link div h3 {
    font-size: 15px;
}

/* search.html Styles */

#ingredientInput {
    width: 50%;
}

.container {
    font-family: Merriweather, sans-serif;
    color: #41644A;
    padding-top: 50px;
    margin: 0 auto;
    text-align: center;
}

.card {
    width: 100%;
    border: none;
    background-color: transparent;
}

.card-body {
    height: 420px;
    display: flex;
    flex-direction: column;
}

.image-container {
    position: relative;
    height: 90%;
    overflow: hidden;
    border: solid 1px #41644A;
}

.image-container:hover .card-img-top {
    opacity: 0.25;
  }
  
.image-container:hover .middle {
    opacity: 1;
  }

.card-img-top{
    object-fit: cover;
    height: 100%;
    width: 100%;
    transition: .5s ease;
    backface-visibility: hidden;
}

.middle {
    transition: .5s ease;
    opacity: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    text-align: center;
    color: black;
    text-decoration: none;
    font-size: 20px;
    font-weight: 600;
    padding: 10px;
    border-radius: 8px;
    background-color: #41644A;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    text-decoration: none;
}

.icon-container {
    display: flex;
    text-decoration: none;
}

.card-text {
    margin: 0;
    background-color: #41644A;
    opacity: .8;
    color: white;
    text-decoration: none;
    font-size: 12px;
    font-weight: 400;
    padding: 16px 32px;
    font-family: Merriweather, sans-serif;
    position: relative;
    z-index: 2;
}

.card-text a {
    margin-right: 10px;
    color: #E86A33;
    text-decoration: none;
    transition: color 0.3s ease;
    z-index: 2;
    text-decoration: none !important;
}

.card-text i:hover {
    color: #E86A33;
    text-decoration: none !important;
}

.card-text i {
    font-size: 200%;
    text-decoration: none !important;
}


.card-text .tooltiptext1, .card-text .tooltiptext2 {
    visibility: hidden;
    width: 80px;
    background-color: white;
    opacity: .8;
    color: black;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;
    position: absolute;
    z-index: 1;
    z-index: 1;
    top: 100%;
    left: 50%;
    margin-left: -60px;
    font-family: Merriweather, sans-serif;
    font-size: 75%;
    text-decoration: none;
}

.card-text:hover .tooltiptext1, .card-text:hover .tooltiptext2 {
    visibility: visible;
    text-decoration: none;
}

.text {
    background-color: #41644A;
    opacity: .8;
    color: white;
}

.text:hover {
    color: #E86A33;
}

.icon-cog {
    color: #E86A33;
}

.pag {
    font-weight: bold;
    margin-bottom: 20px;
}

#sortbutton {
    font-size: 10px;
    height: 20px;
    text-align: center;
    line-height: 17.5px;
}

.divend {
    letter-spacing: .5px;
    font-size: 10px;
}

/* Default styles for larger screens */
.post-link {
    text-decoration: none;
    font-family: Merriweather, sans-serif;
}

button i {
    font-size: small;
}

.text-container .left-content {
    font-size: 1vw;
}

.text-container .right-content {
    font-size: 1vw;
}

.text-container {
    height: 10%;
    background-color: #41644A;
    color: white;
    padding: 8px;
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-family: Merriweather, sans-serif;
}

.masthead-text h1 {
    font-weight: bold;
}

.masthead {
    text-align: left !important;
    margin-left: 50px !important;
}

.card-body1 {
    height: auto;
    display: flex;
    flex-direction: column;
}

.details {
    display: flex;
    flex-direction: column;
    height: 100%;
}

.details1,
.details2,
.details3 {
    height: auto;
    margin-bottom: 10px;
}

.details2 h1 {
    font-size: 15px;
}

.container2 {
    position: relative;
}

.container2 span {
    position: absolute;
    bottom: 0;
}

.container2 span h3 {
    font-size: 15px;
}

.img-container {
    height: 400px;
    text-decoration: none;
    padding: 20px;
    padding-bottom: 20px;
    overflow: hidden;
}

.text-container i:first-child {
    margin-right: 8px;
}

.ingredients {
    padding-top: 25px;
}

.utensils, .ingredients {
    padding-left: 50px;
}

#review {
    padding-right: 50px;
}

#comments {
    overflow: auto;
}

#leavecomment {
    height: auto;
}

.container1 {
    padding-top: 0;
    margin: 0 auto;
    text-align: center;
}

/* Media query for smaller screens */
@media only screen and (max-width: 768px) {

    .container {
        padding-top: 5px;
    }

    .masthead {
        margin-left: 0 !important;
    }

    .text-container {
        flex-direction: column;
        height: auto;
    }

    .text-container .left-content,
    .text-container .right-content {
        font-size: 2vw;
    }

    .details1,
    .details2,
    .details3 {
        height: auto;
        font-size: smaller;
    }

    .details2 h1 {
        font-size: 18px;
    }

    .img-container {
        height: auto;
    }

    .ingredients, .utensils {
        padding-left: 20px;
    }

    #review {
        padding-right: 20px;
    }
}

/* submit & update review Styles */


.alert {
    margin-right: 50px;
}

.container3 {
    font-family: Merriweather, sans-serif;
    color: #41644A;
    padding: 50px;
}

.container2 {
    font-family: Merriweather, sans-serif;
    color: #41644A;
    padding: 50px;
}

.edit {
    text-decoration: none;
}

.alert {
    color: white;
    background-color: #E86A33;
}

/* Animations */ 

.animation-span {
    transform: scale(0.94);
    animation: scale 3s forwards cubic-bezier(0.5, 1, 0.89, 1);
  }

  @keyframes scale {
    100% {
      transform: scale(1);
    }
  }
  
  .animation-span span {
    display: inline-block;
    opacity: 0;
    filter: blur(4px);
  }
  
  span:nth-child(1) {
    animation: fade-in 0.8s 0.1s forwards cubic-bezier(0.11, 0, 0.5, 0);
  }
  
  span:nth-child(2) {
    animation: fade-in 0.8s 0.2s forwards cubic-bezier(0.11, 0, 0.5, 0);
  }
  
  span:nth-child(3) {
    animation: fade-in 0.8s 0.3s forwards cubic-bezier(0.11, 0, 0.5, 0);
  }
  
  span:nth-child(4) {
    animation: fade-in 0.8s 0.4s forwards cubic-bezier(0.11, 0, 0.5, 0);
  }
  
  span:nth-child(5) {
    animation: fade-in 0.8s 0.5s forwards cubic-bezier(0.11, 0, 0.5, 0);
  }
  
  span:nth-child(6) {
    animation: fade-in 0.8s 0.6s forwards cubic-bezier(0.11, 0, 0.5, 0);
  }

  span:nth-child(7) {
    animation: fade-in 0.8s 0.6s forwards cubic-bezier(0.11, 0, 0.5, 0);
  }

  span:nth-child(8) {
    animation: fade-in 0.8s 0.6s forwards cubic-bezier(0.11, 0, 0.5, 0);
  }
  
  @keyframes fade-in {
    100% {
      opacity: 1;
      filter: blur(0);
    }
  }

.upvoted {
    color: green;
}

.downvoted {
    color: red;
}

/* Sign-up & Login */ 