/* Global Styles */

@import url('https://fonts.googleapis.com/css2?family=Alice&family=Merriweather:wght@300&display=swap');

html {
    height: 100%;
    width: 100%;
}

body {
    background-image: url("https://res.cloudinary.com/dm06dbeze/image/upload/v1704726049/imageedit_2_9471879740_bsyzi6.png");
    background-size: cover;
    background-position: center center;
    margin: 0;
    padding: 0;
    line-height: 35px;
}

h1, h2 {
    font-family: Alice, sans-serif;
}

a {
    all: unset;
    text-decoration: none;
    color: black;
    cursor: pointer;
}

a:link {
    text-decoration: none;
}

.navbar-toggler {
    padding: .25rem .75rem;
    font-size: 1.25rem;
    line-height: 1;
    border: none !important;
}
.navbar-brand {
    padding-left: 4%;
}

button i {
    font-size: xx-large;
}

label {
    font-family: Merriweather, sans-serif;
    font-size: small;
}

select {
    font-family: Merriweather, sans-serif;
    font-size: small;
}

.btn-like {
    border: none;
    background: transparent;
}

.btn-like:hover,
.btn-like:active {
    background: transparent;
    border: none;
}

form {
    font-family: Merriweather, sans-serif;
}

button {
    background-color: black;
    color: white;
    border-radius: 20%;
}

.pag-nav {
    background-color: white;
}

.page-link {
    font-weight: bold;
    background-color: white;
    border: none;
    text-decoration: none;
    font-family: Merriweather, sans-serif;
}

.navbar .nav > li > a {
    color: black !important;
}

a.nav-item:hover {
    color: black !important;
}

/* base.html Styles */

nav {
    color: black;
    font-family: Merriweather, sans-serif;
}

.brand {
    font-family: Alice, sans-serif;
    font-size: 1.4rem;
    font-size: larger;
    font-weight: 700;
    color: black;
}

.nav-link {
    color: black;
    text-decoration: none;
}

.nav-item a:hover {
    color: #E86A33;
}

.footer {
    color: black;
    font-weight: 600;
    font-family: Merriweather, sans-serif;
}

footer p i:hover {
    color: black;
}

/* index.html Styles */

#link {
    margin: 0 auto;
    text-align: center;
}

#top {
    font-size: 65px;
    font-family: Alice, sans-serif;
}

.mid {
    width: 75%;
    /* border-radius: 5%;
    background:rgba(255,255,255, 0.4); */
}

#link h2 a:hover {
    color: black;
}

#link div {
    margin: auto;
    text-align: center;
}

#link div h3 {
    font-size: 15px;
}

/* search.html Styles */

.search {
    /* background:rgba(255,255,255, 0.4); */
    font-family: Alice, sans-serif;
    font-weight: bold;
    border-radius: 5%;
}

.select2-search__field {
    width: 400px !important;
}

#ingredientInput {
    width: 50%;
}

.container {
    font-family: Merriweather, sans-serif;
    color: black;
    padding-top: 50px;
    margin: 0 auto;
    text-align: center;
}

.card {
    border-radius: 2%;
    width: 100%;
    border: none;
    background-color: transparent;
}

.card-body {
    border-radius: 2%;
    height: 420px;
    display: flex;
    flex-direction: column;
}

.image-container {
    position: relative;
    height: 85%;
    overflow: hidden;
}

.image-container img {
    object-fit: cover;
    object-position: center;
    width: 100%;
    height: 100%;
}

.image-container:hover .card-img-top {
    opacity: 0.25;
  }

.image-container:hover .middle {
    opacity: 1;
  }

.card-img-top{
    object-fit: cover;
    height: 100%;
    width: 100%;
    transition: .5s ease;
    backface-visibility: hidden;
}

.middle {
    transition: .5s ease;
    opacity: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    text-align: center;
    color: black;
    text-decoration: none;
    font-size: 15px;
    font-weight: 400;
    padding: 10px;
    border-radius: 8px;
    background-color: black;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    text-decoration: none;
}

.icon-container {
    display: flex;
    text-decoration: none;
}

.card-text {
    margin: 0;
    background-color: black;
    opacity: .8;
    color: white;
    text-decoration: none;
    font-size: 12px;
    font-weight: 400;
    padding: 16px 32px;
    font-family: Merriweather, sans-serif;
    position: relative;
    z-index: 2;
}

.card-text a {
    margin-right: 10px;
    color: black;
    text-decoration: none;
    transition: color 0.3s ease;
    z-index: 2;
    text-decoration: none !important;
}

.card-text i:hover {
    color: white;
    text-decoration: none !important;
}

.card-text i {
    font-size: 200%;
    text-decoration: none !important;
}


.card-text .tooltiptext1, .card-text .tooltiptext2 {
    visibility: hidden;
    width: 80px;
    background-color: white;
    opacity: .8;
    color: black;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;
    position: absolute;
    z-index: 1;
    z-index: 1;
    top: 100%;
    left: 50%;
    margin-left: -60px;
    font-family: Merriweather, sans-serif;
    font-size: 75%;
    text-decoration: none;
}

.card-text:hover .tooltiptext1, .card-text:hover .tooltiptext2 {
    visibility: visible;
    text-decoration: none;
}

.text {
    background-color: black;
    opacity: .8;
    color: white;
    font-size: 15px;
}

.icon-cog {
    color: black;
}

.pag {
    font-weight: bold;
    margin-bottom: 20px;
}

#sortbutton {
    font-size: 10px;
    height: 20px;
    text-align: center;
    line-height: 17.5px;
}

.divend {
    letter-spacing: .25px;
    font-size: 12px;
}

/* Review.html */

.headingmid {
    width: 25%;
    text-align: center;
    margin: 0 auto;
}

.reviewheading {
    font-family: Merriweather, sans-serif;
    font-weight: bold;
    /* background:rgba(255,255,255, 0.4); */
    border-radius: 10%;
}

.post-link {
    text-decoration: none;
    font-family: Merriweather, sans-serif;
}

button i {
    font-size: large;
    color: black;
}

.text-container .left-content {
    font-size: 1vw;
}

.text-container .right-content {
    font-size: 1vw;
}

.text-container {
    height: 15%;
    background-color: black;
    color: white;
    padding: 8px;
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-family: Merriweather, sans-serif;
}

.masthead-text h1 {
    font-weight: bold;
}

.masthead {
    text-align: left !important;
    margin-left: 50px !important;
}

.card-body1 {
    height: auto;
    display: flex;
    flex-direction: column;
}

.details {
    display: flex;
    flex-direction: column;
    height: 100%;
}

.details1,
.details2,
.details3 {
    height: auto;
}

.details2 h1 {
    font-size: 15px;
}

.container2 {
    position: relative;
}

.container2 span {
    position: absolute;
    bottom: 0;
}

.container2 span h3 {
    font-size: 15px;
}

.img-container {
    height: 400px;
    text-decoration: none;
    padding: 20px;
    padding-bottom: 20px;
    overflow: hidden;
}

.text-container i:first-child {
    margin-right: 8px;
}

.ingredients {
    padding-top: 25px;
}

.utensils, .ingredients {
    padding-left: 50px;
}

#review {
    font-weight: bold;
    padding-right: 50px;
    padding-bottom: 50px;
}

#review h2 {
    font-size: 25px;
    font-weight: bold;
}

#comments {
    overflow: auto;
    padding-top: 10px;
}

.comments h2, .commentitle {
    font-family: Alice, sans-serif;
    font-size: 20px;
    font-weight: bold;
}

.comments h3 {
    font-size: 15px;
}

.comments p {
    font-size: 15px;
}

#leavecomment {
    height: auto;
}

.container1 {
    padding-top: 0;
    margin: 0 auto;
    text-align: center;
}

.post-title1 {
    font-size: 30px;
    font-weight: bold;
}

.post-title {
    font-size: 25px;
    font-weight: bold;
}

.details1 h2{
    font-size: 20px;
    font-weight: bold;
}

/* submit & update review Styles */


.alert {
    margin-right: 50px;
}

.container4 {
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 50px;
    font-family: Merriweather, sans-serif;
    color: black;
    font-weight: bold;
}

.container2 {
    font-family: Merriweather, sans-serif;
    color: black;
    padding: 50px;
}

.edit {
    text-decoration: none;
}

.alert {
    color: white;
    background-color: black;
}

.container5 {
    padding-left: 200px;
    padding-top: 50px;
    font-family: Merriweather, sans-serif;
    color: black;
    font-weight: bold;
}

/* About.html */

.container3 {
    font-family: Merriweather, sans-serif;
    color: black;
    width: 75%;
    padding-top: 50px;
    margin: 0 auto;
    text-align: center;
}

.container3 p {
    font-size: 15px;
    font-weight: 800;
}

/* Animations */ 

.animation-span {
    text-align: center;
    margin: 0 auto;
    /* background:rgba(255,255,255, 0.4); */
    border-radius: 10%;
    width: fit-content;
    transform: scale(0.94);
    animation: scale 3s forwards cubic-bezier(0.5, 1, 0.89, 1);
    font-family: Alice, sans-serif;
    font-weight: bold;
  }

  @keyframes scale {
    100% {
      transform: scale(1);
    }
  }
  
  .animation-span span {
    display: inline-block;
    opacity: 0;
    filter: blur(4px);
  }
  
  span:nth-child(1) {
    animation: fade-in 0.8s 0.1s forwards cubic-bezier(0.11, 0, 0.5, 0);
  }
  
  span:nth-child(2) {
    animation: fade-in 0.8s 0.2s forwards cubic-bezier(0.11, 0, 0.5, 0);
  }
  
  span:nth-child(3) {
    animation: fade-in 0.8s 0.3s forwards cubic-bezier(0.11, 0, 0.5, 0);
  }
  
  span:nth-child(4) {
    animation: fade-in 0.8s 0.4s forwards cubic-bezier(0.11, 0, 0.5, 0);
  }
  
  span:nth-child(5) {
    animation: fade-in 0.8s 0.5s forwards cubic-bezier(0.11, 0, 0.5, 0);
  }
  
  span:nth-child(6) {
    animation: fade-in 0.8s 0.6s forwards cubic-bezier(0.11, 0, 0.5, 0);
  }

  span:nth-child(7) {
    animation: fade-in 0.8s 0.6s forwards cubic-bezier(0.11, 0, 0.5, 0);
  }

  span:nth-child(8) {
    animation: fade-in 0.8s 0.6s forwards cubic-bezier(0.11, 0, 0.5, 0);
  }
  
  @keyframes fade-in {
    100% {
      opacity: 1;
      filter: blur(0);
    }
  }

/* Sign-up & Login */ 

.select2 {
    width: 300px;
}

/* Media query for smaller screens */
@media only screen and (max-width: 768px) {

    .container {
        padding-top: 5px;
    }

    .masthead {
        margin-left: 0 !important;
    }

    .text-container {
        flex-direction: column;
        height: auto;
    }

    .text-container .left-content,
    .text-container .right-content {
        font-size: 2vw;
    }

    .details1,
    .details2,
    .details3 {
        height: auto;
        font-size: smaller;
    }

    .details2 h1 {
        font-size: 18px;
    }

    .img-container {
        height: auto;
    }

    .ingredients, .utensils {
        padding-left: 20px;
    }

    #review {
        padding-right: 20px;
    }

    .container5 {
        padding-left: 50px;
    }
}

@media only screen and (max-width: 500px) {

    .select2 {
        width: 80vw !important;
        padding-bottom: 10px;
    }
}

.btnburger:hover i, a:hover i, .nav-item:hover .nav-link{ 
    animation:  shake 0.8s  ; 
  }

@keyframes shake{ 
0%{ 
    transform: translateX(0) 
} 
25%{ 
    transform: translateX(5px); 
} 
    
50%{ 
    transform: translateX(-5px); 
} 
100%{ 
    transform: translateX(0px); 
} 
} 