{% extends "base.html" %}

{% block content %}

<div class="container3">
    <h1 class="animation-span">
        <span>End</span>
        <span>Food</span>
        <span>Waste</span>
        <span>Now!</span>
    </h1>
    <hr>
    <p>Food waste is a pervasive and deeply concerning issue with far-reaching consequences, both ethically and environmentally. At its core, the act of discarding edible food represents a stark contradiction in a world where millions suffer from hunger and malnutrition. The environmental impact compounds the horror, as wasted food contributes significantly to greenhouse gas emissions, exacerbates climate change, and places undue pressure on natural resources.</p>
    <p>The resources expended in cultivating, processing, and transporting food that ultimately goes to waste further strain ecosystems. Additionally, the decomposition of organic waste in landfills produces methane, a potent greenhouse gas. Addressing food waste is not just a moral imperative to ensure equitable access to nourishment; it is a crucial step in promoting sustainability and mitigating the detrimental effects of wasteful consumption on our planet.</p>
    <p>Food waste is a collective failure, a reflection of a flawed system that compromises both human well-being and the health of our planet. Addressing this horror requires a comprehensive and concerted effort at all levels — from individuals making mindful choices to systemic changes in food production, distribution, and consumption practices.</p>
    <p><u><a href="https://www.actionagainsthunger.org/" target="_blank"><strong>Action Against Hunger Now</strong></a></u></p>
</div>
{% endblock content %}