{% extends "base.html" %}

{% block content %}
<div class="container">
    <div div="row">
        <div class="col-12 mt-3 left">
            <h1>Zen Plate: Culinary Search and Reviews</h1>
            <hr>
            <div class="main">
                <div class="link">
                    <h2><a href="{% url 'search' %}">Search</a></h2>
                </div>
                <div class="link">
                    <h2><a href="{% url 'review_blog' %}">View Blog</a></h2>
                </div>
            </div>
        </div>
    </div>
</div> 
{% endblock content %}