{% extends "base.html" %}

{% block content %}
<div class="container">
    <div>
        <h1 class="animation-span" id="top">
            <span><strong>Wasteless</strong></span>
            <span><strong>Table</strong></span>
        </h1>
    <div class="row" id="indexrow">
        <div class="col-md-6 align-items-center" id="link">
            <div class="mid">
                <div class="int">                    
                        <h2><a href="{% url 'search' %}"><strong><u>Search <i class="fas fa-search indexicon"></i></u></strong></a></h2>
                        <h3><strong>Designed to combat food waste, our search feature allows you to input available ingredients, unlocking a realm of recipes tailored to your pantry. Throw nothing away!</strong></h3>
                </div>
            </div>
        </div>
        <div class="col-md-6  align-items-center" id="link">
            <div class="mid">
                <div class="int">                    
                            <h2><a href="{% url 'review_blog' %}"><strong><u>View Blog <i class="fas fa-book indexicon"></i></u></strong></a></h2>
                            <h3><strong>Discover our blog, where insightful reviews not only guide your culinary journey but also contribute to minimizing food waste. Our contributors share honest critiques and celebrate sustainable practices</strong></h3>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock content %}