{% extends 'base.html' %} {% block content %}

{% load crispy_forms_tags %}
<div class="masthead">
    <div class="container2">
        <div class="row g-0">
            <div class="col-md-4 masthead-text" id="info">
                <div class="details">
                    <div class="details1">
                        <h1 class="post-title1">{{ review.title }}</h1>
                        <h2>{{ review.author }}</h2>
                        <div class="voting-section">
                            <div class="user-actions">
                                {% if user.is_authenticated %}
                                    <form class="d-inline" action="{% url 'review_upvote' review.slug %}" method="POST">
                                        {% csrf_token %}
                                        <input type="hidden" name="vote_type" value="upvote">
                                        {% if liked %}
                                        <button type="submit" name="review_id" value="{{ review.slug }}" class="btn-like">
                                                <i class="far fa-thumbs-up upvoted"></i>
                                        </button>
                                            {% else %}
                                        <button type="submit" name="review_id" value="{{ review.slug }}" class="btn-like">
                                                <i class="far fa-thumbs-up"></i>
                                        </button>
                                            {% endif %}
                                    </form>
                                    <form class="d-inline" action="{% url 'review_upvote' review.slug %}" method="POST">
                                        {% csrf_token %}
                                        <input type="hidden" name="vote_type" value="downvote">
                                            {% if disliked %}
                                            <button type="submit" name="blog_id" value="{{ review.slug }}" id="btn-like" class="btn-like">
                                                <i class="far fa-thumbs-down downvoted"></i>
                                            </button>
                                            {% else %}
                                            <button type="submit" name="blog_id" value="{{ review.slug }}" id="btn-like" class="btn-like">
                                                <i class="far fa-thumbs-down"></i>
                                            </button>
                                            {% endif %}
                                    </form>
                                {% else %}
                                    <i class="fas fa-thumbs-up"></i>
                                    <i class="fas fa-thumbs-down"></i>
                                {% endif %}
                            </div>
                        </div>
                    </div>
                    <div class="details2">
                        <h1>Upvotes: {{ review.total_votes }} </h1>
                        <h1>Prep time: {{ review.prep_time }} minutes</h1>
                    </div>
                    <div class="details3">Link to original recipe - <strong>{{ review.recipe }}</strong>- to be found <a href="{{ review.url }}" target="_blank"><u>here!</u></a></div>
                </div>
            </div>
            <div class="col-md-4 masthead-image">
                <div class="utensils">
                    <h1 class="post-title">Utensils:</h1>
                    <ul>
                        {% for utensil in utensils %}
                            <li>{{ utensil.name }}</li>
                        {% endfor %}
                    </ul>
                </div>
                <div class="ingredients">            
                    <h1 class="post-title">Ingredients:</h1>
                    <ul>
                        {% for ingredient in ingredients %}
                            <li>{{ ingredient.name }}</li>
                        {% endfor %}
                    </ul>
                </div>
            </div>
            <div class="col-md-4 masthead-image">
                <div class="img-container">
                    {% if "placeholder" in review.featured_image_a.url %}
                        <object data="{{ review.featured_image_b }}" type="image/png">
                            <img src="https://cdn.freecodecamp.org/curriculum/cat-photo-app/relaxing-cat.jpg" alt="Kitties">
                        </object>
                    {% else %}
                        <img src="{{ review.featured_image_a.url }}" alt="placehold for {{ review.label }}" width="100%">
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
    <hr>
    <div class="container2">
        <div class="row g-0" >
            <div id="review">
                <h2>Review:</h2>
                <p>
                    {{ review.content | safe }}
                </p>
                <span>
                        {{ review.created_on }} | {% if user.is_authenticated and user == review.author %}<a href="{% url 'update_review' slug=review.slug %}">Update Review</a>{% endif %}
                </span>
            </div>
        </div>
    </div>
    <hr>
</div>
<div class="masthead">
    <div class="container2">
        <div class="row">
            <div class="col-md-8 card mb-4 mt-3" id="comments1">
                <h2 class="commentitle">Comments:</h2>
                {% if comments %}
                    <div class="card-body1">
                        {% for comment in comments %}
                            <div class="comments">
                                <h3>
                                    <strong>{{ comment.name }}</strong> wrote:
                                </h3>
                                <p>{{ comment.body | linebreaks }}</p>
                                <span2 class="text-muted font-weight-normal">
                                    <strong></strong>{{ comment.created_on }}
                                </span2> 
                                {% if user.is_authenticated and user.username == comment.name %}
                                Hello
                                <form method="post" action="{% url 'delete_comment' comment.id %}">
                                    {% csrf_token %}
                                    <button type="submit">Delete</button>
                                </form>
                            {% endif %}
                            </div>
                        {% endfor %}
                    </div>
                {% endif %}
            </div>
            <div class="col-md-4 card mb-4  mt-3 " id="leavecomment">
                {% if commented %}
                    <div class="alert alert-success" role="alert">
                        Awaiting approval
                    </div>
                {% endif %}
                {% if user.is_authenticated %}
                    <div class="comments">
                        <h2>Leave a comment:</h2>
                        <p>Posting as: <strong>{{ user.username }}</strong></p>
                        <form method="post">
                            {{ comment_form | crispy }}
                            {% csrf_token %}
                            <button type="submit">Submit</button>
                        </form>
                    </div>
                {% endif %}
            </div>
        </div>
    </div>
</div>
{% endblock content %}