{% extends "base.html" %}

{% block content %}

<div class="container">
    <div div="row">
        <div class="col-12 mt-3 left">
            <h2>Recipe Search</h2>
            <form method="post" action="{% url 'search' %}">
                {% csrf_token %}
                <label for="query">Enter ingredients:</label>
                <input type="text" name="query" required>
                <button type="submit">Search</button>
            </form>
        </div>
    </div>
</div>
<div class="container">
    <div div="row">
        <div class="col-12 mt-3 left">
            <h2>Search results for: {{ query }}</h2>

            {% if recipes %}
            <div class="container-fluid">
                <div class="row">
                    <div class="col-12 mt-3 left">
                        <div class="row">
                            {% for recipe in recipes %}
                            <div class="col-md-3">
                                <div class="card">
                                    <div class="card-body">
                                        <div class="image-container">
                                                <img src="{{ recipe.recipe.image }}" class="card-img-top">
                                                <a href="#" class="post-link" onclick="showModal('{{ recipe.recipe.label }}'); return false;">
                                                    <div class="middle">
                                                        <div class="text">{{ recipe.recipe.label }}</div>
                                                        <p class="card-text">More info</p>
                                                    </div>
                                                </a>
                                        </div>
                                        <div id="id01" class="w3-modal w3-animate-opacity" style="display: none;">
                                            <div class="w3-modal-content w3-card-4">
                                                <header class="w3-container w3-teal"> 
                                                    <span onclick="hideModal()" class="w3-button w3-large w3-display-topright">&times;</span>
                                                    <h2 id="modalHeader">Modal Header</h2>
                                                </header>
                                                <div class="w3-container">
                                                    <p>Some text..</p>
                                                    <p>Some text..</p>
                                                </div>
                                                <footer class="w3-container w3-teal">
                                                    <p>Modal Footer</p>
                                                </footer>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                                {% if forloop.counter|divisibleby:4 and not forloop.last %}
                                    </div><div class="row">
                                {% endif %}
                            {% endfor %}
                        </div>
                    </div>
                {% if is_paginated %}
                <nav aria-label="Page navigation">
                    <ul class="pagination justify-content-center">
                        {% if page_obj.has_previous %}
                        <li><a href="?page={{ page_obj.previous_page_number }}" class="page-link">&laquo; PREV</a></li>
                        {% endif %}
                        {% if page_obj.has_next %}
                        <li><a href="?page={{ page_obj.next_page_number }}" class="page-link">NEXT &raquo;</a></li>
                        {% endif %}
                    </ul>
                </nav>
                {% endif %}
            </div>
            {% else %}
                <p>No recipes found for your search query.</p>
            {% endif %}
        </div>
    </div>
</div>

{% endblock content %}