{% extends "base.html" %}

{% block content %}

<div class="container">
    <h2 class="search">Search by cuisine type, dishes or ingredients</h2>
    <hr>
    <form method="get" action="{% url 'search' %}">
        {% csrf_token %}
        <input type="text" name="query" required>
        <button type="submit">Search</button>
    </form>
</div>
<div class="container">
    <div div="row">
        <div class="col-12 mt-3 left">
            {% if query != None %}
            <h2>Search results for: {{ query }}</h2>
            {% else %}
            <h3>What do you have in your fridge?</h3>
            {% endif %}
            {% if recipes %}
            <div class="container-fluid">
                <div class="row">
                    <div class="col-12 mt-3 left">
                        <div class="row">
                            {% for recipe in recipes %}
                            <div class="col-md-3">
                                <div class="card">
                                    <div class="card-body">
                                        <div class="image-container">
                                            <img src="{{ recipe.recipe.image }}" class="card-img-top">
                                            <div class="middle">
                                                <div class="text">{{ recipe.recipe.label }}</div>
                                                <div class="icon-container">
                                                    <a href="{{ recipe.recipe.url }}" class="card-text">
                                                        <i class="fas fa-book">
                                                            <span class="tooltiptext1">Visit Recipe</span>
                                                        </i>
                                                    </a>
                                                    <a href="{% url 'submit_review' %}"  class="card-text">
                                                        <i class="fas fa-pen">
                                                            <span class="tooltiptext2">Review Recipe</span>
                                                        </i>
                                                    </a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                                {% if forloop.counter|divisibleby:4 and not forloop.last %}
                                    </div><div class="row">
                                {% endif %}
                            {% endfor %}
                        </div>
                    </div>
            </div>
            {% endif %}
        </div>
    </div>
</div>
<div>
    <div>
        {% if recipes.has_previous %}
            <a href="?query={{ query }}&page=1">&laquo; first</a>
            <a href="?query={{ query }}&page={{ recipes.previous_page_number }}">previous</a>
        {% endif %}
        <hr>
        {% if recipes.has_next %}
            <a href="?query={{ query }}&page={{ recipes.next_page_number }}">next</a>
            <a href="?query={{ query }}&page={{ recipes.paginator.num_pages }}">last &raquo;</a>
        {% endif %}
    </div>
</div>
{% endblock content %}