{% extends "base.html" %}

{% block content %}

<div class="container">
    <h1 class="animation-span">
        <span>What</span>
        <span>is</span>
        <span>on</span>
        <span>the</span>
        <span>menu</span>
        <span>tonight?</span>
    </h1>
    <form method="get" action="{% url 'search' %}">
        {% csrf_token %}
        <select id="ingredientInput" multiple="multiple">
        </select>
        <input type="hidden" name="query" id="ingredientQuery" required>
        <button type="submit">Search</button>
    </form>
</div>
<div class="container">
    <div div="row">
        <div class="col-12 mt-4 left">
            <div class="col-12 mt-4 left">
                {% if query %}
                    <h2>Search results for: {{ query }}</h2>
                {% else %}
                    <h2 class="search">Search by the ingredients you already have</h2>
                {% endif %}
                <!-- Other content goes here -->
            </div>
            {% if recipes %}
            <div class="container-fluid">
                <div class="row">
                    <div class="col-12 mt-4 left">
                        <div class="row">
                            {% for recipe in recipes %}
                            <div class="col-md-4">
                                <div class="card">
                                    <div class="card-body">
                                        <div class="image-container">
                                            <img src="{{ recipe.recipe.image }}" class="card-img-top">
                                            <div class="middle">
                                                <div class="icon-container">
                                                    <a href="{{ recipe.recipe.url }}" class="card-text" target="_blank">
                                                        <i class="fas fa-book">
                                                            <span class="tooltiptext1">Visit Recipe</span>
                                                        </i>
                                                    </a>
                                                    {% if user.is_authenticated %}
                                                    <a href="{% url 'submit_review' %}"  class="card-text">
                                                        <i class="fas fa-pen">
                                                            <span class="tooltiptext2">Review Recipe</span>
                                                        </i>
                                                    </a>
                                                    {% endif %}
                                                </div>
                                            </div>
                                        </div>
                                        <div class="text-container">
                                            <div class="text"> {{ recipe.recipe.label }}</div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                                {% if forloop.counter|divisibleby:3 and not forloop.last %}
                                    </div><div class="row">
                                {% endif %}
                            {% endfor %}
                        </div>
                    </div>
            </div>
            {% endif %}
        </div>
    </div>
</div>
<div class="pag">
    {% if recipes.has_previous %}
        <a href="?query={{ query }}&page=1">&laquo; First</a>
        <a href="?query={{ query }}&page={{ recipes.previous_page_number }}">Previous</a>
    {% endif %}
    {% if recipes.has_next %}
        <a href="?query={{ query }}&page={{ recipes.next_page_number }}">Next</a>
        <a href="?query={{ query }}&page={{ recipes.paginator.num_pages }}">Last &raquo;</a>
    {% endif %}
</div>
{% endblock content %}