{% extends "base.html" %}

{% block content %}

{% load crispy_forms_tags %}

<div class="container5">
    <div class="row">
        <div class="col-12 mt-3 left">
            <h1>Submit Review Page</h1>
            <form method="post" action="{% url 'submit_review' %}" enctype="multipart/form-data">
                {{ form | crispy }}
                {% csrf_token %}
                <button type="submit">Submit Review</button>
            </form>
        </div>
    </div>
</div>
{% endblock content %}